<div ng-controller="DashBoardController as dashCtrl">
  <div ng-show="dashCtrl.logged()">
    <ul>
      <li ng-repeat="sheet in dashCtrl.sheets">
        <a href="#" ng-click="dashCtrl.openSheet(sheet.id)">{{ sheet.name }}</a>
      </li>
    </ul>
  </div>
</div>
