<div class="card-deck mb-3">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">
        Clients
      </h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <th scope="col">Name</th>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              <%= angular_safe_link_to(:new_client, {}, class: "text-dark") do %>
                + New Client
              <% end %>
            </td>
          </tr>
          <tr ng-repeat="client in gnc.data">
            <td>
              <%= angular_safe_link_to(:client, { id: "{{client.id}}" }, class: "text-dark") do %>
                {{client.name}}
              <% end %>
            </td>
            <td>
              <%= angular_safe_link_to(:edit_client, { id: "{{client.id}}" }, class: "text-dark") do %>
                edit
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <%= magicka_display('gnc') do |display|
        display.pagination('pagination',
          path_method: :clients
        )
      end %>

    </div>
  </div>
</div>

