<form action="<%= login_path %>" ng-controller="LoginController as loginCtrl" method="post" name="login-form">
  <input name="email" ng-model="loginCtrl.email" />
  <input type="submit" value="Login" ng-click="loginCtrl.login()" onclick="return false;"/>
</form>
