<!DOCTYPE html>
<html>
<head>
  <title>Timeshift</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="timeshift">
  <div class="main-content" ng-controller="RoutesController as router" ng-include="router.page || '<%= request.path %>?ajax=true'">
  </div>
</body>
</html>
